{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-header">
        Gerenciamento de Alunos
      </div>

      <div class="card-body">
        <div class="">
          <div style="margin-bottom: 15px;">
            <a href="/aluno/insertAluno" class="btn btn-primary">
              Cadastrar Aluno
            </a>
          </div>

          <div style="background-color: #f8f9fa">
            <table id="tabAluno" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>Título</th>
                  <th>Data de Nascimento</th>
                  <th>Renda</th>
                  <th>Documento</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      {# Link para visualização dos dados #}
                      <a href="/aluno/viewAluno/{{ reg.idaluno }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>

                      {# Link para atualização e remoção dos dados #}
                      <a href="/aluno/updateAluno/{{ reg.idaluno }}" title="Atualizar" style="margin-left: 10px;">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                    <td>{{reg.titulo}}</td>
                    <td>{{reg.datanasc}}</td>
                    <td>{{reg.renda}}</td>
                    <td>{{reg.documento}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script>

    window.onload = function () {
      windowOnLoad();
      //@ Caso tenha dado erro no servidor frontEnd, ele será mostrado aqui.
      const localErro = "{{erro}}";
      if (localErro != "") {
        alert("[vwAluno|onload]Servidor retornou o erro:" + localErro);
      }

      new DataTable('#tabAluno');

      // Formatar datas no padrão dd-mm-yyyy
      document
        .querySelectorAll('#tabAluno tbody tr')
        .forEach(row => {
          const dateCell = row.cells[2];
          const originalDate = dateCell
            .textContent
            .trim();

          if (originalDate) {
            const [year, month, day] = originalDate.split('-');
            dateCell.textContent = `${day}/${month}/${year}`;
          }
        });
    };
  </script>

{% endblock %}
