<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">

        <!-- Módulo Sistema Escolar -->
        <div>
          <div class="sb-sidenav-menu-heading">Sistema Escolar
          </div>
          <nav class="sb-sidenav-menu-nested nav">
            <!-- Adicionando link para Aluno -->
            <a class="nav-link" href="/aluno/manutAluno">
              <div class="sb-nav-link-icon">
                <i class="fas fa-user-graduate"></i> <!-- Ícone de Aluno -->
              </div>
              Aluno
            </a>

            <!-- Adicionando link para Curso -->
            <a class="nav-link" href="/curso/manutCurso">
              <div class="sb-nav-link-icon">
                <i class="fas fa-book"></i> <!-- Ícone de Curso -->
              </div>
              Curso
            </a>
            
            <!-- Adicionando link para Disciplina -->
            <a class="nav-link" href="/disciplina/manutDisciplina">
              <div class="sb-nav-link-icon">
                <i class="fas fa-chalkboard-teacher"></i> <!-- Ícone de Disciplina -->
              </div>
              Disciplina
            </a>

            <!-- Adicionando link para Matrícula -->
            <a class="nav-link" href="/matricula/manutMatricula">
              <div class="sb-nav-link-icon">
                <i class="fas fa-address-card"></i> <!-- Ícone de Matrícula -->
              </div>
              Matrícula
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="sb-sidenav-footer" style="background-color: #0c68ef !important;">
      <div class="small">Bem vindo</div>
      {{ parametros.Usuario }}
    </div>
  </nav>
</div>
