<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">

        <!-- Módulo Financeiro -->
        <div>
          <div class="sb-sidenav-menu-heading">Financeiro</div>
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/titulo/manutTitulo">
              <div class="sb-nav-link-icon">
                <i class="fas fa-hand-holding-usd"></i>
              </div>
              Contas a Pagar
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Bem vindo:</div>
        {{ parametros.Usuario }}
    </div>
  </nav>
</div>