{% extends "templates/base.html" %}

{% block content %}
  <div x-data="disciplinaForm()">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item active">{{title}}</li>
    </ol>
    <div class="row">
      <div class="col-12">

        <div class="card-header">
          {{title}}
        </div>

        <div class="card-body">
          <div class="">

            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tituloDisciplina">Título da Disciplina</label>
                    <input type="text" class="form-control" id="tituloDisciplina" x-model="form.tituloDisciplina" required="required">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="chDisciplina">Carga Horária (CH)</label>
                    <input type="number" class="form-control" id="chDisciplina" x-model="form.chDisciplina" required="required">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="dataAberturaDisciplina">Data de Abertura</label>
                    <input type="date" class="form-control" id="dataAberturaDisciplina" x-model="form.dataAberturaDisciplina" required="required">
                  </div>
                </div>
              </div>

              <button type="button" @click="insertForm()" class="btn btn-primary mt-4">Salvar</button>
              <a href="/disciplina/manutDisciplina" class="btn btn-info mt-4 ml-2" role="button" aria-disabled="true">Retornar</a>
            </form>

            <div class="mt-3">
              <template x-if="message">
                <div :class="messageClass" x-text="message"></div>
              </template>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>

    window.onload = function () {
      windowOnLoad();

      const localErro = "{{erro}}";
      if (localErro != "") {
        alert("[vwDisciplina|onload] Servidor retornou o erro: " + localErro);
      }
      $("#tituloDisciplina").focus();
    };

    function disciplinaForm() {
      return {
        form: {
          tituloDisciplina: '',
          dataAberturaDisciplina: '',
          chDisciplina: '',
          removidoDisciplina: false,
        },
        message: '',
        messageClass: '',

        async insertForm() {
          try {
            console.log("Dados enviados:", JSON.stringify(this.form));
            const response = await fetch('/disciplina/insertDisciplina', {
              method: 'POST',
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(this.form)
            });
            
            const result = await response.json();
            console.log("Resposta do servidor:", response);
            console.log("Dados recebidos:", result);
            if (result.status == "ok") {
              alert("Disciplina cadastrado com sucesso");
              this.resetForm();
            } else {
              const errorData = result.status;
              this.message = `Erro! Não foi possível cadastrar o Disciplina: ${errorData}`;
              this.messageClass = 'alert alert-danger';
            }
          } catch (error) {
            this.message = `Erro de conexão: ${error.message}`;
            this.messageClass = 'alert alert-danger';
          }
        },

        resetForm() {
          this.form = {
            tituloDisciplina: '',
            dataAberturaDisciplina: '',
            chDisciplina: '',
            removidoDisciplina: false,
          };
          this.message = false;
        }
      };
    }
  </script>

{% endblock %}
