{% extends "templates/base.html" %}

{% block content %}
  <div x-data="cursoForm()">
    <div class="row">
      <div class="col-12">

        <div class="card-header mt-2">
          {{ title }}
        </div>

        <div class="card-body">
          <div class="">

            <form>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="dataAbertura">Data de Abertura</label>
                    <input type="date" class="form-control" id="dataAbertura" x-model="form.dataAbertura">
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" x-model="form.titulo" placeholder="Título do curso">
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="cargaHoraria">Carga Horária</label>
                    <input type="number" class="form-control" id="cargaHoraria" x-model="form.cargaHoraria" placeholder="0,00">
                  </div>
                </div>
              </div>

              <button type="button" @click="insertForm()" class="btn btn-primary mt-4">Salvar</button>
              <a href="/curso/manutCurso" class="btn btn-danger mt-4 ml-2" role="button" aria-disabled="true">Cancelar</a>
            </form>

            <div class="mt-3">
              <template x-if="message">
                <div :class="messageClass" x-text="message"></div>
              </template>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () {
      windowOnLoad();

      const localErro = "{{ erro }}";
      if (localErro != "") {
        alert("[vwFCrCurso|onload] Servidor retornou o erro: " + localErro);
      }
      $("#titulo").focus();
    };

    function cursoForm() {
      return {
        form: {
          titulo: '',
          dataAbertura: '',
          cargaHoraria: null,
          removido: false
        },
        message: '',
        messageClass: '',

        async insertForm() {
          if (!this.form.dataAbertura || !this.form.titulo || !this.form.cargaHoraria) {
            this.message = 'Preencha todos os campos antes de continuar.';
            this.messageClass = 'alert alert-warning';
            return;
          }

          try {
            console.log("Dados enviados:", JSON.stringify(this.form));
            const response = await fetch('/curso/insertCurso', {
              method: 'POST',
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(this.form)
            });

            const result = await response.json();
            console.log("Resposta do servidor:", response);
            console.log("Dados recebidos:", result);
            if (result.status == "ok") {
              alert("Curso cadastrado com sucesso");
              this.resetForm();
            } else {
              const errorData = result.status;
              this.message = `Erro! Não foi possível cadastrar o curso: ${errorData}`;
              this.messageClass = 'alert alert-danger';
            }
          } catch (error) {
            this.message = `Erro de conexão: ${error.message}`;
            this.messageClass = 'alert alert-danger';
          }
        },

        resetForm() {
          this.form = {
            titulo: '',
            dataAbertura: '',
            cargaHoraria: null,
            removido: false
          };
          this.message = '';
        }
      };
    }
  </script>

{% endblock %}